

body
    form(action='/api/deck/new', method='GET')
        p
            | Shuffled: 
            input(type='checkbox', name='shuffled', value='true', checked)
            br
            | With replacement: 
            input(type='checkbox', name='replacement', value='true')
            br
            | Suits: 
            select(name='suits' value='4')
                option=4
                for amount in [1,2,3,5,6,7,8,9]
                    option=amount
            br
            | Joker: 
            input(type='checkbox', name='joker', value='true')
            br
            | Aces High: 
            input(type='checkbox', name='aces', value='true', checked)
        input(type='submit', value='Submit')